body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    background-position: center;
    background-size: cover;
    background-color: #1d1f29; /* Colore di sfondo viola desaturato */
    color: #dcdcdc; /* Colore del testo desaturato */
}

h1 {
    font-size: 45px;
    margin: 50px 0 2px;
}
h3 {
    font-size: 16px;
    margin: 1px 0 40px;
}

.newVote {
    width: 50%;
    margin: 10px auto;
    background-color: transparent;
    border: none;
}
.newVote td, .newVote th {
    background-color: transparent;
    border: none;
}

.standings-container {
    display: flex;
    justify-content: space-between;
}
.standings {
    width: 35%;
    margin: auto;
}
.standings td, .standings th{
    width: 30%;
    margin: 20px auto;
    border: 1px solid #4b4848;
    padding: 12px;
    text-align: center;
    background-color: #2a2c3c;
    color: #ffffffdc;
}

.select-box {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(12, 12, 17);
    background: #dee1e2;
    display: block;
    height: 36px;
}
.select-box:hover {
    border-color: #61588b;
}
.select-box:focus{
    border-color: #592b9e;
    background: #fff;
}

.button-style {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    padding: 5px 11px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #7b50cc, #2f1e5c); /* Tonalità di blu e viola desaturati */
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 1px 3px 0 rgba(93, 100, 148, 0.20);
    transition: all 0.2s ease-out;
}
.button-style:hover {
    box-shadow: 0 8px 22px 0 rgba(226, 228, 238, 0.15), 0 4px 6px 0 rgba(93, 100, 148, 0.20);
}

input {
    width: 40px;
    text-align: center;
}
