body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    background-position: center;
    background-size: cover;
}

.light-theme {
    background-color: #fff;
    color: #000;
    background-image: url('images/lm_bg.jpg');
}

.dark-theme {
    background-color: #333;
    color: #fff;
    background-image: url('images/dm_bg.jpg');
}

#themeSwitch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#themeSwitch label {
    margin-right: 8px;
}

#themeToggle {
    cursor: pointer;
}

.dark-theme table {
    border-color: #ddd;
}

.dark-theme th {
    background-color: #555;
    color: #fff;
}

.dark-theme td {
    background-color: #444;
    color: #fff;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 2px;
}

h3 {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 40px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

input {
    width: 50px;
    text-align: center;
}